body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-family: sans-serif;
}

.credits{
    position: absolute;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* REUSABLE STYLES */

.directional{
    height: 35px;
    width: 35px;
    
    border-radius: 100%;
    background-image: linear-gradient(to right, rgb(31, 30, 30), rgb(59, 58, 58));
}

.multi-controls{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
    height: 30%;
}

.circle{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-image: linear-gradient(to right, black, rgb(59, 58, 58));
    color: white;
    font-size: 10pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-circle{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.square{
    margin-top: 20%;
    margin-left: 60%;
    height: 20px;
    width: 20px;
    background-color: black;
}

/* SCREEN */

.screen{
    height: 300px;
    width: 500px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-area{
    height: 90%;
    width: 90%;
    background-image: linear-gradient(to right, rgb(27, 27, 27), rgb(49, 49, 49));
}

.game-on{
    background-color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-left {
    height: 70%;
    width: 30%;
    border-radius: 20px 0px 0px 20px;
    border: 6px solid red;
    display: flex;
    justify-content: center;
}

.logo-right {
    height: 70%;
    width: 30%;
    border-radius: 0px 20px 20px 0px;
    border: 6px solid red;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.logo-circle-red{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: red;
    margin-top: 10px;
}

.logo-circle-white{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: white;
    margin-bottom: 10px;
}

/* LEFT CONTROLLER */

.left-control{
    height: 300px;
    width: 120px;
    background-color: lightseagreen;
    border-radius: 60px 0 0px 60px;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

.left-control:hover{
    transition: 1s;
    margin-bottom: 80px;
}

.dash-l{
    margin-top: 10%;
    margin-left: 70%;
    width: 25px;
    height: 8px;
    background-color: black;
}

.circle-control-l{
    margin-top: 10%;
    margin-left: 28%;
    height: 55px;
    width: 55px;
    border-radius: 100%;
    background-image: linear-gradient(to right, black, rgb(34, 34, 34));
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-down{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 9px solid white;
}

.arrow-up{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 9px solid white;
}

.arrow-left{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 9px solid white;
    transform: rotate(30deg);
}

.arrow-right{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 9px solid white;
    transform: rotate(90deg);
}

/* RIGHT CONTROLLER */

.right-control{
    height: 300px;
    width: 120px;
    background-color: red;
    border-radius: 0 60px 60px 0;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

.right-control:hover{
    transition: 1s;
    margin-bottom: 80px;
}

.container{
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dash-r{
    width: 25px;
    height: 6px;
    background-color: black;
    top: 5px;
}

.dash-rr{
    position: relative;
    width: 25px;
    height: 6px;
    background-color: black;
    transform: rotate(90deg);
    bottom: 6px;
}

.circle-control-r{
    margin-top: 10%;
    margin-left: 28%;
    height: 55px;
    width: 55px;
    border-radius: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-home{
    margin-top: 10px;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: rgb(230, 2, 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.home{
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: rgb(49, 49, 49);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon-roof{
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 5px solid black;
}

.icon-square{
    background-color: black;
    height: 4px;
    width: 8px;
    display: flex;
    margin-right: 1px;
    justify-content: center;
    align-items: flex-end;
}

.door{
    width: 2px;
    height: 2px;
    background-color: rgb(49, 49, 49);
}